snippet sout "System.out.Println();"
System.out.println(${0});
endsnippet

snippet sysout "System.out.Println();"
System.out.println(${0});
endsnippet

snippet psvm "public static void main(String[] args);"
pubiic static void main(String[] args) {
	${0://TODO}
}
endsnippet
